{
    "login":{
        "ACCESSKEY":"***enter-aws-access-key***",
        "SECRETKEY": "***enter-aws-secret-key***",
        "TOKEN": "***enter-session-token***",
        "UPLOAD_VIDEOS_QUEUE_NAME": "uploadvideos",
        "VIDEO_KEYS_QUEUE_NAME":"videokeys",
        "UPLOADED_VIDEOS_BUCKET_NAME": "videodetects1",
        "RESULTS_BUCKET_NAME": "piresults3"
    }
}

